@{
    ViewData["Title"] = "Pannello di amministrazione";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <p>Questa è una pagina riservata all'amministratore ma dato che hai fatto il login sei riuscito ad accedere!</p>
    <p><a asp-action="Logout">Esci</a></p>
</div>
