@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Pagina pubblica</h1>
    <p>Questo è il contenuto pubblico visibile a chiunque.</p>
    <p>Se sei un amministratore, accedi al <a asp-action="AdminPanel">pannello di amministrazione</a> ma dovrai fare il login se non l'hai già fatto.</p>
</div>
